[Match]
Name=wlan1

[Network]
Address=172.16.10.1/24
DHCPServer=yes
IPMasquerade=true
IPForward=true
LLDP=yes
EmitLLDP=yes

[DHCPServer]
PoolOffset=100
PoolSize=20
