ACTION=="add", SUBSYSTEM=="ieee80211", ATTRS{devpath}=="1.1", \
    RUN+="/usr/sbin/iw dev wlan1 interface add ctf_01 type managed", \
    RUN+="/usr/sbin/iw dev wlan1 interface add ctf_02 type managed", \
    RUN+="/usr/sbin/iw dev wlan1 interface add ctf_03 type managed", \
    RUN+="/usr/sbin/iw dev wlan1 interface add ctf_04 type managed", \
    RUN+="/usr/sbin/iw dev wlan1 interface add ctf_05 type managed", \
    RUN+="/usr/sbin/iw dev wlan1 interface add ctf_06 type managed", \
    RUN+="/usr/sbin/iw dev wlan1 interface add vlan1 type managed"
