[Unit]
Description=Run /root/connect
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/root/connect

[Install]
WantedBy=multi-user.target

